.details {
    text-align: center;
    padding-bottom: 100px;

    h2 {
        font-size: 2em;
        font-weight: 400;
        padding-bottom: 42px;
    }

    .infos {
        text-align: left;
        display: flex;
        align-items: baseline;

        div {
            margin: 0 auto;

            &:first-child {
                width: 50%;
                margin-right: 22px;
            }

            &:last-child {
                width: 25%;
            }

            h5 {
                font-size: 1.2em;
                font-weight: 300;
                margin: 0;

                &:not(:first-child) {
                    margin-top: 32px;
                }
            }

            p {
                font-size: 0.9em;
            }

            ul {
                list-style: none;
                font-size: 0.9em;
                padding: 0;

                li {
                    line-height: 1.85em;
                }
            }
        }
    }
}
